p {
  color: white;
  font-family: 'Baloo Thambi 2', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
header {
  background: #E67676;
  border: 5px solid #4285f4;
  margin: 10px;
  width: 200px;
}

footer {
  background: #A9E6E6;
  border: 5px solid #4285f4;
  margin: 10px;
  width: 200px;
}